@model iot_parking.Models.Parking

@{
    ViewData["Title"] = "Usuwanie";
}

<h1>Usuwanie</h1>

<h3>Czy na pewno chcesz usunąć ten wpis?</h3>
<div>
    <h4>Wpis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Data wjazdu")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Data wyjazdu")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExitDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Numer katy")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RFIDCard.CardNumber)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
