@model iot_parking.Models.Parking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Parking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExitDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RFIDCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RFIDCard.CardNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
