@model IEnumerable<iot_parking.Models.Parking>

@{
    ViewData["Title"] = "Wjazdy i wyjazdy";
}

<h1>Wjazdy i wyjazdy</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Data wjazdu")
            </th>
            <th>
                @Html.DisplayName("Data wyjazdu")
            </th>
            <th>
                @Html.DisplayName("Nr karty")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFIDCard.CardNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detale</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
