@model iot_parking.Models.Terminal

@{
    ViewData["Title"] = "Detale terminalu";
}

<h1>Detale</h1>

<div>
    <h4>Terminal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Numer terminalu")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerminalNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Typ temrinalu")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Powrót</a>
</div>
