@model iot_parking.Models.RFIDCard

@{
    ViewData["Title"] = "Usuwanie karty";
}

<h1>Usuwanie</h1>

<h3>Jesteś pewny, że chcesz usunąć kartę:</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Numer karty")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Aktywna")
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsActive)
            {
                @:Tak
            }
            else
            {
                @:Nie
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Imie")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardOwner.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Nazwisko")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardOwner.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Email")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardOwner.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Data wydania")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardOwner.IssueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Data ważności")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardOwner.ValidDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
