@model iot_parking.Models.RFIDCard

@{
    ViewData["Title"] = "Details";
}

<h1 class="h1">Detale</h1>

<div>
    <h4 class="h4">Karta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Numer karty")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Aktywna")
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsActive)
            {
                @:Tak
            }
            else
            {
                @:Nie
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Imie")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardOwner.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Nazwisko")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardOwner.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Email")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardOwner.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Data wydania")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardOwner.IssueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Data ważności")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardOwner.ValidDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Powrót</a>
</div>
