@model IEnumerable<iot_parking.Models.RFIDCard>

@{
    ViewData["Title"] = "Karty";
}
    <h1 class="h1">Karty</h1>
    <input type="button" value="Dodaj nową" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "RFIDCards")'" />
<hr/>
<form asp-action="Index" method="get">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <input type="submit" class="btn btn-outline-primary" value="Wyszukaj" />
            <input type="button" value="x" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("Index", "RFIDCards")'" />
        </div>
        <input type="text" name="search" id="search-box" class="form-control" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nr karty")
            </th>
            <th>
                @Html.DisplayName("Aktywna")
            </th>
            <th>
                @Html.DisplayName("Imie")
            </th>
            <th>
                @Html.DisplayName("Nazwisko")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("Data wydania")
            </th>
            <th>
                @Html.DisplayName("Data ważności")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (RFIDCard item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @if (item.IsActive)
                {
                    @:Tak
                }
                else
                {
                    @:Nie
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardOwner.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardOwner.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardOwner.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardOwner.IssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardOwner.ValidDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detale</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
